server:
  port: 9000

spring:
  application:
    name: mall-gateway
  cloud:
    nacos:
      discovery:
        enabled: false

    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: order-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/order/**,/api/address/**,/api/seller/order/**
          filters:
            - StripPrefix=1

        - id: product-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/product/**,/api/seller/product/**
          filters:
            - StripPrefix=1

        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/user/**,/api/shop/**,/api/cart/**,/api/coupon/**,/api/favorite/**,/api/footprint/**,/api/point/**,/api/customer-service/**
          filters:
            - StripPrefix=1

      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins:
              - "http://localhost:8849"
              - "http://127.0.0.1:8849"
              - "http://localhost:3000"
              - "http://localhost:3001"
              - "http://localhost:3002"
              - "http://localhost:3003"
              - "http://localhost:8080"
            allowed-methods: "*"
            allowed-headers: "*"
            allow-credentials: true
            max-age: 3600

management:
  endpoints:
    web:
      exposure:
        include: health