server:
  port: 8083
spring:
  application:
    name: mall-auth-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
  datasource:
    url: jdbc:mysql://localhost:3306/mall?serverTimezone=UTC&characterEncoding=utf8&useSSL=false
    username: root
    password: lyh
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
    port: 6379
    password:
    database: 0
    timeout: 3000ms
    lettuce:
      pool:
        max-active: 20
        max-wait: -1ms
        max-idle: 10
        min-idle: 0

mybatis-plus:
  type-aliases-package: edu.fdzc.mallauth.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

jwt:
  secret: mall-microservice-jwt-secret-key-2025-12-30
  expire: 604800 # 7天过期（秒）
  header: Authorization